*{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}
div{
    position: 
    display: inline-block;
    width: 400px;
    border: 1px solid red;
}

html {
    background-color: #a58686;
      border: 1px solid green;
          display: relative;
}

body {
      border: 1px solid blue;
      margin:0 20px;
     
}

header{
    position: relative;
    border: 1px solid blue;
}
article{
    /*position: absolute;*/
    width: 400px;
    display: inline-block;
    border: 1px solid blue;
}
figure{
    display: inline-block;
    border: 1px solid green;
}
.title{
    text-align: center;
}
